@import 'variables';
@import 'mixins';

@font-face {
    font-family: 'KomikaAxis';
    src: url('KOMIKAX_.eot'); /* IE9 Compat Modes */
    src: url('KOMIKAX_.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('KOMIKAX_.woff') format('woff'), /* Modern Browsers */
        url('KOMIKAX_.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('KOMIKAX_.svg#5cb969d55818caf596e9b0e1ab0f50d8') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

html,
body,
body > div,
body > div > div {
    margin: 0;
    cursor: default;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

html {
    color: $text-color;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body > div > div {
    position: relative;
    margin: auto;
    background: url($media-server-game + 'ImageAssets/BKG_1.jpg') bottom center no-repeat;
    background-size: cover;
    width: 960px;
    height: 540px;
    font-size: 20px;


    .background {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .5s;
        opacity: 0;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;

        &.garbage {
            background-image: url($media-server-game + 'ImageAssets/BKG_2.jpg');
        }
      }

    &.garbage > div > .background.garbage {
        opacity: 1;
    }
}

// preload assets
#asset-bin {
    display: none;
}

[pl-bg] {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

button {
    margin: 0;
    outline: none;
    border: 0;

    background-color: transparent;
    background-image: url($media-server-game + 'SpritesAnimations/BU_1.png');
    background-position: left top;
    background-size: auto 300px;

    cursor: pointer;
    padding: 0;
    color: transparent;
    font-family: inherit;
    font-size: inherit;

    &.close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        margin: 5px;
        background-position: -508px -58px;
        width: 36px;
        height: 36px;

        &:hover {
            background-position: -508px -208px;
        }
      }

    &.next-screen,
    &.prev-screen {
        width: 50px;
        height: 50px;
    }

    &.next-screen {
        background-position: -350px -50px;
        cursor: default;

        &:hover {
            background-position: -350px -200px;
        }
    }

    &.prev-screen {
        background-position: -200px -50px;

        &:hover {
            background-position: -200px -200px;
        }
    }

    &.quit-yes {
        background-position: 387px 344px;
        background-size: auto 400px;
        width: 170px;
        height: 90px;

        &:hover {
            background-position: 387px 144px;
        }
    }

    &.quit-no {
        background-position: 187px 344px;
        background-size: auto 400px;
        width: 170px;
        height: 90px;

        &:hover {
            background-position: 187px 144px;
        }
    }
}

h2 {
    font-size: 50px;
}

h3 {
    margin: 0;
    font-size: 36px;
}

p {
    margin: 0;
    font-size: 36px;
}

.canvas-src { display: none; }

.screen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform .5s;
    opacity: 0;
    width: 960px;
    height: 540px;
}

.screen.OPEN {
    transform: translateX(0);
    opacity: 1;
}

.screen.READY {
    display: block;
}

.screen.LEAVE {
    transform: translateX(-100%);
    opacity: 1;
}

.screen .next-screen,
.screen .prev-screen {
    display: block;
    position: absolute;
    bottom: 1%;
    z-index: 2;
    margin-bottom: 5px;
}

.screen .next-screen {
    right: 0;
    transform: rotate(-180deg);
    transition: opacity 1s, transform 1s;
    opacity: 0;
    margin-right: 5px;
}

.pl-game:not(.DEMO) .screen.VOICE-OVER .reveal-close,
.screen.GATED .next-screen {
    opacity: 0;
    cursor: default;
}

.skoash-game.MENU-quit .screen {
    &:not(#quit) {
        opacity: 0;
        pointer-events: none;
    }
}

.pl-game.DEMO .screen .next-screen,
.screen.REPLAY .next-screen,
.screen.COMPLETE .next-screen {
    transform: rotate(0deg);
    opacity: 1;
    cursor: pointer;
}

.screen .prev-screen {
    left: 0;
    margin-left: 5px;
}

.screen {
    &.no-frame {
        color: $white;

        .frame {
            text-align: center;
        }
    }
}

.hidden {
    display: none;
}

// the following css is specific to this game

.frame {
    position: relative;
    background-image: url($media-server-game + 'ImageAssets/frame.1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px;
    width: 720px;
    height: 480px;
    text-align: center;
    line-height: 1.2;
    font-size: 40px;
}

.screen.large-frame {
    .frame {
        margin: 40px auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        padding: 60px 75px;
        width: 860px;
        height: 460px;
        text-align: center;

        p:only-child {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }

        .title {
            margin-top: -30px;
            max-height: 100px;
        }
    }

    &.OPEN {
        .frame {
            animation-name: fadeInDown;
        }
    }
}

#title {
    .group {
        width: 960px;
        height: 540px;
    }

    .fish {
        position: absolute;
        top: 0;
        left: 40px;
        height: 540px;
    }

    .title {
        position: absolute;
        top: -50px;
        left: 280px;
        width: 680px;
    }

    .prev-screen {
        display: none;
    }

    .next-screen {
        right: 80px;
        background-position: 0 -30px;
        width: 150px;
        height: 90px;

        &:hover {
            background-position: 0 -180px;
        }
    }

    &.OPEN {
        .fish {
            animation-name: fadeInRight;
            animation-delay: 1s;
        }

        .title {
            animation: title 6s infinite;
        }
    }
}

#you-feel {
    > div {
        text-align: center;
    }

    .frame > img {
        width: 100%;
    }

    .frame > div {
        position: absolute;
        bottom: 61px;
        left: 50%;
        transform: translateX(-50%);
    }

    .selectable {
        margin: -10px;
        height: 270px;
        justify-content: center;
    }

    li {
        margin: 0 -50px;
        background-repeat: no-repeat;
        background-size: auto;
        cursor: pointer;
        width: 300px;
        background-position-y: 64px;

        &.img-0 {
            background-image: url($media-server-game + 'SpritesAnimations/sprite%20sheet%20emojis-01.png');
            background-position-x: -755px;
        }

        &.img-1 {
            background-image: url($media-server-game + 'SpritesAnimations/sprite%20sheet%20emojis-01.png');
            background-position-x: -27px;
        }

        &.img-2 {
            background-image: url($media-server-game + 'SpritesAnimations/sprite%20sheet%20emojis-01.png');
            background-position-x: center;
        }

        &.SELECTED,
        &:hover {
            background-position-y: -188px;
        }

        &.SELECTED {
            animation-name: pulse;
            animation-iteration-count: 2;
        }
    }
}

.VOICE-OVER #you-feel ul {
    cursor: auto;
    pointer-events: none;
}


#water-pollution {

    img {
        margin: 0 -20px;
        vertical-align: middle;
    }

    .words {
        width: 360px;
    }

    .fish {
        animation-name: title;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        width: 330px;
    }

    .bubbles {
        div {
            box-shadow: 0 0 5px 2px $blue2;

            // scss-lint:disable VendorPrefix
            background: -moz-radial-gradient(center 45deg, circle closest-corner, $bubble-color-15, $bubble-color-16, $bubble-color-17, $bubble-color-18);
            background: -webkit-gradient(radial, center center, 0, center center, 100, from($bubble-color-19), to($bubble-color-20));
            background: gradient(center 45deg, circle closest-corner, $bubble-color-21, $bubble-color-22, $bubble-color-23, $bubble-color-24);
            background: -ms-radial-gradient(center, ellipse cover, $bubble-color-25 0%, $bubble-color-26 51%, $bubble-color-27 71%, $bubble-color-28 100%);
            // scss-lint:enable VendorPrefix
        }
      }
}

#healthy-water {
    .words {
        margin: 10px 0 0;
        width: 620px;
    }

    .selectable {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }

    li {
        background-image: url($media-server-game + 'SpritesAnimations/sprite.earth.png');
        background-size: 500px;
        width: 250px;
        height: 250px;
        list-style: none;
        background-position-y: top;

        &:nth-child(1) {
            background-position-x: left;
        }

        &:nth-child(2) {
            background-position-x: right;
        }

        &:hover,
        &.SELECTED {
            cursor: pointer;
            background-position-y: bottom;
        }

        &.SELECTED {
            animation-name: pulse;
            animation-iteration-count: 2;
        }
      }
}

.VOICE-OVER #healthy-water ul {
    cursor: auto;
    pointer-events: none;
}


#clean-water {
    p {
        margin-top: 100px;
        width: 360px;
        font-weight: bold;
    }

    img {
        position: absolute;
        right: 35px;
        bottom: 43px;
        height: 360px;
    }
}

#bubble-up {
    .center div {
        text-align: center;
    }

    img {
        margin-top: -60px;
        width: 640px;
    }

    p {
        margin-top: -30px;
    }
}

#pollutes-water {
    .stars {
        margin: 0 auto;
        background-image: url($media-server-game + 'SpritesAnimations/sprite.stars.png');
        background-repeat: no-repeat;
        background-position: -727px center;
        background-size: auto 200px;
        width: 380px;
        height: 200px;
    }

    img {
        margin: -30px 0;
        width: 600px;
    }

    &.OPEN {
        .stars-container {
            background-position: 0 center;

            @for $i from 1 through 3 {
                &.star-#{$i} {
                    animation: stars-#{$i} .4s forwards;

                    .stars {
                        background-position: (-363.5 * ($i - 1)) + px center;
                    }
                }
            }
        }
      }
}

#flip {

    .fish {
        margin-top: -30px;
        max-height: 400px;
    }

    .flip {
        margin-top: -30px;
        width: 280px;
    }

    .frame > div {
        display: inline-block;
        margin-left: -80px;
        width: 380px;
    }

    .flip-container {
        transition: opacity .5s;
        opacity: 0;

        &.show {
            opacity: 1;
        }
    }

    &.OPEN {
        .fish {
            animation-name: title;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }

        .flip {
            animation: bob 4s infinite;
        }
    }
}

#quit {

    .frame {
        padding: 70px 80px;
        width: 720px;
        height: 440px;
        text-align: center;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        h2 {
            margin: 0;
            font-size: 40px;
        }

        h3 {
            margin: 20px 0 10px;
            font-size: 30px;
        }

        button {
            margin: 20px 10px;
        }
      }
}
