$media-server-game: $media-server + 'game/happy-fish-face/';

$text-color: #000;
$white: #fff;
$blue: rgba(75, 190, 200, 1);
$blue2: rgba(75, 190, 140, 1);

$bubble-color-1: rgba(75, 190, 200, 0);
$bubble-color-2: rgba(75, 190, 200, .1);
$bubble-color-3: rgba(75, 190, 200, .3);
$bubble-color-4: rgba(255, 255, 255, .7);
$bubble-color-5: rgba(75, 190, 200, .2);
$bubble-color-6: rgba(255, 255, 255, .7);
$bubble-color-7: rgba(75, 190, 200, 0);
$bubble-color-8: rgba(75, 190, 200, .1);
$bubble-color-9: rgba(75, 190, 200, .3);
$bubble-color-10: rgba(255, 255, 255, .7);
$bubble-color-11: rgba(255, 255, 255, 0);
$bubble-color-12: rgba(9, 133, 167, .1);
$bubble-color-13: rgba(9, 133, 167, .3);
$bubble-color-14: rgba(9, 133, 167, .7);

$bubble-color-15: rgba(75, 190, 140, 0);
$bubble-color-16: rgba(75, 190, 140, .1);
$bubble-color-17: rgba(75, 190, 140, .3);
$bubble-color-18: rgba(255, 255, 255, .7);
$bubble-color-19: rgba(75, 190, 140, .2);
$bubble-color-20: rgba(255, 255, 255, .7);
$bubble-color-21: rgba(75, 190, 140, 0);
$bubble-color-22: rgba(75, 190, 140, .1);
$bubble-color-23: rgba(75, 190, 140, .3);
$bubble-color-24: rgba(255, 255, 255, .7);
$bubble-color-25: rgba(255, 255, 255, 0);
$bubble-color-26: rgba(9, 133, 207, .1);
$bubble-color-27: rgba(9, 133, 207, .3);
$bubble-color-28: rgba(9, 133, 207, .7);
