@import '../../variables';

.reveal {
    opacity: 0;
    background-image: url($media-server-game + 'ImageAssets/frame.2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 620px;
    height: 400px;
    text-align: center;

    > div {
        text-align: center;
    }

    .media-sequence {
        display: none;
    }

    ul {
        position: relative;
        padding: 0;
    }

    li {
        display: none;
        transition: opacity .5s;
        opacity: 0;
        list-style: none;

        &.OPEN {
            display: block;
            opacity: 1;
        }
    }

    img {
        width: 400px;
    }

    p {
        line-height: 1.4;
    }

    &.OPEN {
        opacity: 1;
        z-index: 1;
    }
}
